@using PracticalSecureCodingTraining.Classes


@page "/strongpassword"

<h3>Validate Strong Password</h3>

<div>
    <div class="mb-2">
        <input @bind="password" @onkeyup="@(e => Enter(e, 1))" type="text" placeholder="Password" required="required" />
        <button @onclick="@(e => ValidateStrongPassword(1))">Validate Strong Password</button>
    </div>
    <div class="mb-2">
        <input @bind="password" @onkeyup="@(e => Enter(e, 2))" type="text" placeholder="Password" required="required" />
        <button @onclick="@(e => ValidateStrongPassword(2))">Validate Strong Password with Score</button>
    </div>

    <div class="mt-2">
        <span>@result.ToString()</span>
    </div>
</div>



<code>
    <a target="_blank" href="https://gist.github.com/NajiElKotob/ab698cbf38682044ec34ed51ad87aced">ValidateStrongPassword.cs</a>
</code>

@code {
    private string EnterCode = "Enter";
    private string password { get; set; } = string.Empty;
    private string result { get; set; } = string.Empty;

    private void ValidateStrongPassword(int buttonId)
    {
        var validationResult = "";
        if (buttonId == 1)
        {
            validationResult = Classes.StrongPassword.ValidateStrongPassword(password).ToString();
        }

        else if (buttonId == 2)
        {
            validationResult = Classes.StrongPasswordWithScore.ValidateStrongPassword(password).ToString();
        }

        result = validationResult;
    }

    private void Enter(KeyboardEventArgs e, int buttonId)
    {
        if (e.Key == EnterCode)
        {
            ValidateStrongPassword(buttonId);
        }
    }
}
